@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e7ebee6b;
}
/* hover user card */
.user-card {
    position: relative;
}
.user-card-logout {
    position: absolute;
}
.user-card:hover .user-card-logout {
    display: block;

}
* {
    transition: all 500ms ease-in-out;
}
/* css hover mobile menu */
.mobile-menu {
    /* position: relative; */
}
.mobile-menu:hover .mobile-sub-menu {
    display:flex;
    flex-direction: column;
    position: absolute;
    top:100%; right: 0%;
    z-index: 200;
    background-color: white;
    width: 50% !important;
}